body {
	font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

.container {
	background: url(src/tropical-print.jpg);
	top: 15%;
	margin: auto;
	border-radius: 20px;
	padding: 5%;
	max-width: 550px;
}

.container2 {
	background: coral;
	opacity: 0.85;
	border-style: solid;
	border-color: grey;
	padding: 3%;
	border-radius: 20px;
}

#searchbar {
	width: 50%;
	background-color: rgb(252, 138, 97);
	border-color: black;
	opacity: 0.85;
}

#current-location-btn,
#search-select-city {
	margin: 2%;
	background-color: rgb(252, 138, 97);
	color: black;
	font-weight: bold;
	opacity: 0.85;
}

.humidity,
.wind,
.icon,
.current-degrees,
.date,
.description,
.temperature .interior,
.city .col-6 {
	text-align: left;
	font-weight: bold;
	padding: 1%;
	color: black;
	font-weight: bold;
}

.author {
	font-size: small;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.row {
	position: relative;
	top: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}
