body {
	font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

.container {
	background-image: url(tropical-print.jpg);
	top: 15%;
	margin: auto;
	border-radius: 20px;
	padding: 5%;
	max-width: 550px;
}

#searchbar {
	width: 50%;
	background-color: rgb(252, 138, 97);
	border-color: black;
}

#current-location-btn,
#search-select-city {
	margin: 2%;
	background-color: rgb(252, 138, 97);
	color: black;
	font-weight: bold;
}

.author {
	font-size: small;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.city {
	text-align: left;
}

.row {
	position: relative;
	top: 0;
}

.col-6 {
	padding: 1%;
}

ul {
	list-style-type: none;
	padding: 0;
}
